@import "./theme.module.scss";

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(#3a4aff, rgb(62, 0, 143));
}

main {
  display: flex;
  height: 100vh;
}

.ui-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.ui-container > * {
  margin: auto;
}

.button-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
