@import "./theme.module.scss";

* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: linear-gradient($color2, $color3);
}

main {
  display: flex;
  height: 100vh;
}

/* UNIVERSAL CLASSES */
